@import './l-flex';

.l-wrap {
  width: 100%;
  max-width: 1200px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-right: auto;
  margin-left: auto;

  .is-mobile & {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.l-wrap-fluid {
  width: 100%;
  padding: 2.5rem;

  .is-mobile & {
    padding: 1.5rem;
  }
}