// margin

.u-m-auto {
  margin: auto;
}

.u-m-10,
.u-m-1rem {
  margin: 1rem;
}

.u-nm-10,
.u-nm-1rem {
  margin: -1rem;
}

// margin-top

.u-mt-auto {
  margin-top: auto;
}

.u-mt-5 {
  margin-top: .5rem;
}

.u-mt-10 {
  margin-top: 1rem;
}

.u-mt-15 {
  margin-top: 1.5rem;
}

.u-mt-20 {
  margin-top: 2rem;
}

.u-mt-30 {
  margin-top: 3rem;
}

.u-mt-40 {
  margin-top: 4rem;
}

.u-mt-50 {
  margin-top: 5rem;
}

.u-mt-60 {
  margin-top: 6rem;
}

.u-mt-70 {
  margin-top: 7rem;
}

.u-mt-80 {
  margin-top: 8rem;
}

.u-mt-90 {
  margin-top: 9rem;
}

.u-mt-100 {
  margin-top: 10rem;
}

// margin-right

.u-mr-auto {
  margin-right: auto;
}

.u-mr-5 {
  margin-right: .5rem;
}

.u-mr-10 {
  margin-right: 1rem;
}

.u-mr-15 {
  margin-right: 1.5rem;
}

.u-mr-20 {
  margin-right: 2rem;
}

.u-mr-30 {
  margin-right: 3rem;
}

.u-mr-40 {
  margin-right: 4rem;
}

.u-mr-50 {
  margin-right: 5rem;
}

.u-mr-60 {
  margin-right: 6rem;
}

.u-mr-70 {
  margin-right: 7rem;
}

.u-mr-80 {
  margin-right: 8rem;
}

.u-mr-90 {
  margin-right: 9rem;
}

.u-mr-100 {
  margin-right: 10rem;
}

// margin-bottom

.u-mb-auto {
  margin-bottom: auto;
}

.u-mb-5 {
  margin-bottom: .5rem;
}

.u-mb-10 {
  margin-bottom: 1rem;
}

.u-mb-15 {
  margin-bottom: 1.5rem;
}

.u-mb-20 {
  margin-bottom: 2rem;
}

.u-mb-25 {
  margin-bottom: 2.5rem;
}

.u-mb-30 {
  margin-bottom: 3rem;
}

.u-mb-35 {
  margin-bottom: 3.5rem;
}

.u-mb-40 {
  margin-bottom: 4rem;
}

.u-mb-50 {
  margin-bottom: 5rem;
}

.u-mb-60 {
  margin-bottom: 6rem;
}

.u-mb-65 {
  margin-bottom: 6.5rem;
}

.u-mb-70 {
  margin-bottom: 7rem;
}

.u-mb-80 {
  margin-bottom: 8rem;
}

.u-mb-90 {
  margin-bottom: 9rem;
}

.u-mb-100 {
  margin-bottom: 10rem;
}

// margin-left

.u-ml-auto {
  margin-left: auto;
}

.u-ml-5 {
  margin-left: .5rem;
}

.u-ml-10 {
  margin-left: 1rem;
}

.u-ml-15 {
  margin-left: 1.5rem;
}

.u-ml-20 {
  margin-left: 2rem;
}

.u-ml-30 {
  margin-left: 3rem;
}

.u-ml-40 {
  margin-left: 4rem;
}

.u-ml-50 {
  margin-left: 5rem;
}

.u-ml-60 {
  margin-left: 6rem;
}

.u-ml-70 {
  margin-left: 7rem;
}

.u-ml-80 {
  margin-left: 8rem;
}

.u-ml-90 {
  margin-left: 9rem;
}

.u-ml-100 {
  margin-left: 10rem;
}