.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-normal {
  font-weight: 400;
}

.u-text-semibold {
  font-weight: 600;
}

.u-text-bold {
  font-weight: 700;
}

.u-text-mute {
  opacity: .75;
}

.u-fw-400 {
  font-weight: 400;
}

.u-fw-500 {
  font-weight: 500;
}

.u-fw-600 {
  font-weight: 600;
}

.u-fw-700 {
  font-weight: 700;
}